/build/
/out/
.gradle/
.idea/
/*.iml
*.log
*.class
*.jar
*.war
*.db
.env
.DS_Store
# Ignore all files in the node_modules directory
node_modules/
# Ignore all files in the dist directory
dist/
# Ignore all files in the coverage directory
coverage/
# Ignore all files in the tmp directory
tmp/
# Ignore all files in the logs directory
logs/
# Ignore all files in the .vscode directory
.vscode/
